---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "Part 2 of the CTF challenge",
  title: "Part 2",
};

---

<PageLayout meta={meta}>
  <section>
		<h1 class="title mb-6">Hello there...</h1>
		<p class="mb-4">
			Congratulations on making it here! Now tick-tock.
		</p>
	</section>
</PageLayout>
