---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "Part 2 of the CTF challenge",
  title: "Part 2",
};

---

<PageLayout meta={meta}>
  <section>
		<h1 class="title mb-6">Hello there...</h1>
		<p class="mb-4">
			Congratulations on making it here! ...or maybe you got lucky. Now it's time for the hardest challenge: Decoding Base 64 nested inside Morse code hidden in a JPEG of Shrek
      or maybe thats not it....
		</p>
    <img 
      src="/shrek-rizz.png" 
      alt="Maybe download it..." 
      width="300" 
      style="margin-top: 30px;" 
      title="https://www.youtube.com/watch?v=inP2TKSeTqc" 
    />
	</section>
</PageLayout>
