---
import PageLayout from "@/layouts/Base.astro";

const meta = {
  description: "Part 2 of the CFT challenge",
  title: "Part 2",
};

---

<PageLayout meta={meta}>
	<h1 class="title mb-12">Hello there...</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
    <p>
      Congratulations on making it here! Now tick-tock.
		</p>
	</div>
</PageLayout>
