---
import PageLayout from "@/layouts/Base.astro";

<PageLayout meta={{ title: "Next" }}>
	<section>
		<h1 class="title mb-6">Hello there...</h1>
		<p class="mb-4">
			Congratulations on making it here! Now tick-tock.
		</p>
	</section>
</PageLayout>
