---
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-12">Welcome!</h1>
		<p class="mb-4">
			This is our CTF challenge for the hackUMBC 2025! Find the flag that the goose has stolen and retrieve it.
		</p>
	</section>
</PageLayout>
