---
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Welcome!</h1>
		<p class="mb-4">
			This is our CTF challenge for the hackUMBC 2025! Find the flag that the goose has stolen and retrieve it.
		</p>
    <img src="/101101.01110111010010011101 N, 1001.00101011110010100001 E.png" alt="Maybe download it..." width="300" style="margin-top: 30px;" />
    <p class="mb-4 mt-8 font-bold">
      ...artanA artanA
    </p>
	</section>
</PageLayout>
